/*snippet box syzing*/
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img{
    max-width: 100%;
}
header{
    background-color: rgb(22, 122, 181);
    width: 100%;
}
p{
    font-size: 16px;
    line-height: 2;
    text-align: justify;
}

.logo_principal{
    display: block;
    margin: 0 auto;
    padding: 0;
    height: 7em;
}

.boton{
    background-color: #00B8E4;
    padding: 10px 30px;/*10 arriba y abajo 30 izq y der*/
    display: inline-block; /*controlar margen*/
    margin-top: 10px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    transition: background-color .5s ease-in-out;/*efecto de transision a color en .3segundos*/
}

.boton:hover{
    background-color: rgb(1, 123, 153);
}
.site-header{
    padding: 40px 0;
}
.contenedor{
    max-width: 80%; /*no más de X*/
    margin: 0 auto; /*centrar en proporcion*/
    overflow: auto;/*manda abajo lo que no tiene float*/
}
/*Nav responsive*/
.barra{
    overflow: hidden; /*quita los elementos que se pasan*/
}

.mobile-menu{
    color: white;
    font-size: 2rem;
    text-align: center;
    display: block;
    padding: 20px 0;
}
#nav:target{
    max-height: 800px;
}
.navegacion-principal{
    max-height: 0; /*Límite*/
    transition: .5s;
}

@media(min-width:768px){
    .navegacion-principal{
        max-height: unset;
    } /*necesario*/
    .mobile-menu, 
    .cerrar{
        display: none!important;
    }
}
.barra{
    margin-top: 0;
    background: rgb(22, 122, 181);
}

.navegacion-principal a{
    color: white;
    text-decoration: none;
    font-size: 22px;
    /*para móviles*/
    display: block;
    text-align: center;
    padding: 20px;
}

/*para pc y se hereda del anterior minimo los pixeles de una pc*/
@media (min-width: 768px){
    .navegacion-principal a{
        display: inline-block;/*mantiene en línea y aplica el padding*/
    }
}

/*Contenidos principales*/
.navegacion-principal a:hover{
    background-color: rgb(16, 93, 138);
}
.contenido-principal{
    margin-top: 40px;
}
.contenido-principal, .sidebar{
    /*ancho para móvil*/
    padding: 20px;
}
@media (min-width:768px){
    .contenido-principal{
        width: 70%;
        float: left;
        padding: 0 60px 0 0;
    }
    
    .sidebar{
        width: 30%;
        float: right;
        padding: 0;
        margin-top: 40px;
    }
}


/*Entradas de blog*/
h2{
    color: #00B8E4;
    margin-bottom: 20px ;
}
.entrada{
    margin-bottom: 60px;
}
.entrada:last-of-type{
    margin-bottom: 0;
}
.entrada img{
    display: block;
}

@media (min-width:480px){
    .entrada img{
        width: 300px;
        float: left;
        margin: 0 20px 20px 0;
    }
}
.sidebar ul{
    list-style: none;
    padding: 0; /*remover padding original*/
}


.sidebar ul li{
    padding: 10px 10px 10px 0;
}
.sidebar ul li:hover{
    background-color: rgb(0, 128, 160);
}
.sidebar ul li a{
    color: #00B8E4;
    text-decoration: none;
    font-size: 18px;
}
.sidebar ul li:hover a{ /*de otro modo no cambia en a menos que le des a la letra*/
    color: white;
}
.footer-site{
    background-color: rgb(22, 122, 181);
    padding-top: 30px;
    margin-top: 30px;
    color: white;
    text-align: center;
}
.footer-site h2{
    color: white;
}
.footer-site a{
    color: white;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    margin: 0 10px 0 0;
}
.footer-site a:last-of-type{
    margin-right: 0;
}
.footer-site a:hover{
    background-color: #1c4d97;
}

@media (min-width:768px){
    .footer-site .nosotros{
        float: left;
        width: 40%;
    }
    .footer-site .menu{
        float: right;
        width: 55%;
    }
}

.copyright{
    text-align: center;
    background-color: rgb(16, 93, 138);
    margin: 20px 0 0 0;
    padding: 20px 0;
}